<div class="content-container">

    <h2>{{chatRoomName}}</h2>

    <button class="btn btn-custom" ng-click="leave()">Leave room</button>

    <div class="clearfix">
        <div class="well well-sm messages" scroll-glue>
            <div data-ng-repeat="message in messages">
                <span ng-class="{msg: message.user, servmsg: !message.user}">{{message.time | date:'HH:mm:ss'}} <span ng-if="message.user"><{{message.user}}></span> {{message.content}}</span>
            </div>
        </div>

        <div class="well well-sm users" id="user-list">
            <b>Users online</b>
            <hr class="divider">
            <div ng-repeat="user in users | orderBy track by $index">
                <span>{{user}}</span>
            </div>
        </div>
    </div>

    <div id="send-message">
        <form class="form-inline">
            <div class="form-group">
                <label for="msgInput" class="sr-only">Message input</label>
                <input type="text" id="msgInput" class="form-control" data-ng-model="newMessage" autofocus>
                <button class="btn btn-custom" type="submit" ng-click="sendMessage()">Send message</button>
            </div>
        </form>
    </div>

</div>
